p:after {
    content: "Hello World";
    color: blue;
    font-size: 20px;
}

[class^="col-"] {
    border: 1px solid;
}

.img {
    width: 100%;
}


/* link 設定*/

a.hover {
    text-decoration: none;
    color: black;
}
