.iphone {
    position: relative;
    background-image: url(../image/%E5%9C%96%E7%89%871.png);
    height: 650px;
    width: 323px;
    background-position: -211px -48px;
    background-repeat: no-repeat;
    border: 0px solid;
    border-radius: 50px;
}

.aside1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: lightgrey;
    height: 645px;
    width: 320px;
    border-radius: 50px;
}

.aside2 {
    position: absolute;
    top: 1px;
    left: 2px;
    background-color: white;
    height: 643px;
    width: 316px;
    border-radius: 50px;
}

.screen {
    position: absolute;
    top: 70px;
    left: 13px;
    background-color: black;
    height: 505px;
    width: 292px;
    border-radius: 5px;
}

.homecircle {
    position: absolute;
    top: 515px;
    left: 119px;
    background-color: silver;
    height: 52px;
    width: 52px;
    border-radius: 50%;
}

.home {
    position: absolute;
    top: 3px;
    left: 2px;
    background-color: whitesmoke;
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.camera {
    position: absolute;
    left: -15px;
    bottom: 595px;
    background-color: black;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.sensation {
    position: absolute;
    right: -40px;
    bottom: 20px;
    background-color: black;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.sounder {
    position: absolute;
    top: 19px;
    left: -20px;
    background-color: dimgrey;
    height: 4px;
    width: 50px;
    border-radius: 50%;
}

.sounderadopt1 {
    position: absolute;
    top: 75px;
    left: -146px;
    background-color: silver;
    height: 40px;
    width: 1px;
    border-radius: 10%;
    border-left-color: grey;
}

.sounderadopt2 {
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: silver;
    height: 40px;
    width: 1px;
    border-radius: 10%;
    border-left-color: grey;
}

.screenopen {
    position: absolute;
    bottom: 33px;
    right: -320px;
    background-color: silver;
    height: 40px;
    width: 1px;
    border-radius: 10%;
    border-right-color: grey;
}

.line1 {
    position: absolute;
    bottom: 90px;
    right: 0px;
    background-color: silver;
    height: 20px;
    width: 1px;
    border-radius: 10%;
    border-left-color: #3c3b3b;
}

.line2 {
    position: absolute;
    top: 520px;
    right: 0px;
    background-color: silver;
    height: 20px;
    width: 1px;
    border-radius: 10%;
    border-left-color: #3c3b3b;
}

.line3 {
    position: absolute;
    top: 0px;
    left: -320px;
    background-color: silver;
    height: 20px;
    width: 1px;
    border-radius: 10%;
    border-left-color: #3c3b3b;
}

.line4 {
    position: absolute;
    bottom: 520px;
    left: 0px;
    background-color: silver;
    height: 20px;
    width: 1px;
    border-radius: 10%;
    border-left-color: #3c3b3b;
}

.realiphone {
    background-image: url(../image/%E5%9C%96%E7%89%871.png);
    height: 650px;
    width: 323px;
    background-position: -211px -48px;
    background-repeat: no-repeat;
    border-radius: 50px;
}
